/*body{
    color: #696969;
    background-color: #FFFFFF;
    word-wrap: break-word;
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 14px;
}*/

.f-r{
	float: right;
}
.search{
	background-image: url(../img/search.png);
	width: auto;
	height: auto;
}

.border-size{
	padding: 20px 20px;
}

.container{
	font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-weight: 600;
    min-height: auto;
    /*padding: 0px 300px;*/
    box-shadow: 0 1px #e3e3e3;

}

/*旋转木马固定高度*/
.carousel.demo .carousel-item{
	height: 400px;
}
/*旋转木马图片固定高度 和等比例缩放，*/
.carousel.demo .carousel-item img{
	min-height: 300px;
	max-height: 400px;
	object-fit: contain;
}